{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "max-lines-per-function": ["error", { "max": 15 }],
    "comma-dangle": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "arrow-body-style": "off"
  }
}
